In [2]:
print('C5_TASK3 PYTHON CreditOne Default Report')

C5_TASK3 PYTHON CreditOne Default Report

In [3]:
#imports
import numpy as np
import pandas as pd
import scipy
from math import sqrt
from pandas import Series, DataFrame
import matplotlib as mpl
import matplotlib.pyplot as plt

from sklearn import datasets
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn import linear_model

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

# cross_validation changed to model_selection for this version of scikit-learn I guess
#from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_score
#from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split

In [5]:
#data import
rawData = pd.read_csv('default of credit card clients.csv', header=1)
rawData.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [9]:
#Redo pre-processing
print('redo pre-processing')

redo pre-processing

In [6]:
rawData["DEFAULT"]= rawData["default payment next month"]

In [7]:
rawData = rawData.drop("default payment next month",axis=1)

In [17]:
#create dataframe as well
#df = pd.DataFrame(rawData)

In [80]:
#age_bins = pd.cut(df.AGE, 7)
#df['age_bins'] = age_bins
#limit_bins = pd.cut(df.LIMIT_BAL, 10)
#df['limit_bins'] = limit_bins
#bill1_bins = pd.cut(df.BILL_AMT1, 14)
#df['bill1_bins'] = bill1_bins

#df2 = df[['ID', 'LIMIT_BAL', 'limit_bins', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'age_bins','PAY_0',
#       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1','bill1_bins', 'BILL_AMT2',
#       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
#       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6','DEFAULT']]

In [8]:
rawData.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULT
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [12]:
#features
features = rawData.iloc[:,0:25]
print('Summary of feature sample')
features.head()

Summary of feature sample

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULT
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [16]:
#dependent variable
depVar = rawData['DEFAULT']

In [18]:
print('COVARIANCE ESTIMATION')

COVARIANCE ESTIMATION

In [19]:
print('EDA')

EDA

In [21]:
print('FEATURE ENGINEERING')

FEATURE ENGINEERING

In [57]:
#Take subset of data to reduce time of processing
subData = rawData.iloc[0:100,:]
subData.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULT
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [66]:
#Change feature types when necessary
rawData2 = rawData

In [71]:
rawData2["SEX"]= rawData2["SEX"].astype('category')
#rawData2["ID"]= rawData2["ID"].astype('category')
rawData2["EDUCATION"]= rawData2["EDUCATION"].astype('category')
rawData2["MARRIAGE"]= rawData2["MARRIAGE"].astype('category')
rawData2["PAY_0"]= rawData2["PAY_0"].astype('category')
rawData2["PAY_2"]= rawData2["PAY_2"].astype('category')
rawData2["PAY_3"]= rawData2["PAY_3"].astype('category')
rawData2["PAY_4"]= rawData2["PAY_4"].astype('category')
rawData2["PAY_5"]= rawData2["PAY_5"].astype('category')
rawData2["PAY_6"]= rawData2["PAY_6"].astype('category')
rawData2["DEFAULT"]= rawData2["DEFAULT"].astype('category')
rawData2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 24 columns):
LIMIT_BAL    30000 non-null int64
SEX          30000 non-null category
EDUCATION    30000 non-null category
MARRIAGE     30000 non-null category
AGE          30000 non-null int64
PAY_0        30000 non-null category
PAY_2        30000 non-null category
PAY_3        30000 non-null category
PAY_4        30000 non-null category
PAY_5        30000 non-null category
PAY_6        30000 non-null category
BILL_AMT1    30000 non-null int64
BILL_AMT2    30000 non-null int64
BILL_AMT3    30000 non-null int64
BILL_AMT4    30000 non-null int64
BILL_AMT5    30000 non-null int64
BILL_AMT6    30000 non-null int64
PAY_AMT1     30000 non-null int64
PAY_AMT2     30000 non-null int64
PAY_AMT3     30000 non-null int64
PAY_AMT4     30000 non-null int64
PAY_AMT5     30000 non-null int64
PAY_AMT6     30000 non-null int64
DEFAULT      30000 non-null category
dtypes: category(10), int64(14)
memory usage: 3.5 MB

In [ ]:
from sklearn.feature_selection import RFECV
from sklearn.svm import SVR
X = subData[:,0:24]
estimator = SVR(kernel="linear")
selector = RFECV(estimator, step=1, cv=5)
selector = selector.fit(X, y)

In [75]:
#Split out dependent variable: full dataset
features2 = rawData2.iloc[:,0:23]
target2 = rawData2['DEFAULT']
features2.head()
target2.head()

0    1
1    1
2    0
3    0
4    0
Name: DEFAULT, dtype: category
Categories (2, int64): [0, 1]

In [73]:
X = rawData2.iloc[:,0:24]
X.head()
Y = rawData2['DEFAULT']
X.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,20000,2,2,1,24,2,2,-1,-1,-2,...,689,0,0,0,0,689,0,0,0,0
1,120000,2,2,2,26,-1,2,0,0,0,...,2682,3272,3455,3261,0,1000,1000,1000,0,2000
2,90000,2,2,2,34,0,0,0,0,0,...,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000
3,50000,2,2,1,37,0,0,0,0,0,...,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000
4,50000,1,2,1,57,-1,0,-1,0,0,...,35835,20940,19146,19131,2000,36681,10000,9000,689,679

In [38]:
#%%time 
#from sklearn.feature_selection import RFECV
#from sklearn.svm import SVR
#estimator = SVR(kernel="linear")
#selector = RFECV(estimator, step=1, cv=5)
#selector = selector.fit(X, Y)

In [76]:
%%time 
from sklearn.svm import LinearSVC
from sklearn.feature_selection import RFE

svm = LinearSVC()
# create the RFE model for the svm classifier 
# and select attributes
rfe = RFE(svm, 12)
rfe = rfe.fit(features2, target2)
# print summaries for the selection of attributes
print(rfe.support_)
print(rfe.ranking_)

c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

[False  True  True  True  True  True  True  True  True  True  True False
 False  True False False False False False False False  True False]
[ 8  1  1  1  1  1  1  1  1  1  1  5  9  1 12 11  2  4  6  7 10  1  3]
Wall time: 1min 6s

c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [77]:
rawData2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 24 columns):
LIMIT_BAL    30000 non-null int64
SEX          30000 non-null category
EDUCATION    30000 non-null category
MARRIAGE     30000 non-null category
AGE          30000 non-null int64
PAY_0        30000 non-null category
PAY_2        30000 non-null category
PAY_3        30000 non-null category
PAY_4        30000 non-null category
PAY_5        30000 non-null category
PAY_6        30000 non-null category
BILL_AMT1    30000 non-null int64
BILL_AMT2    30000 non-null int64
BILL_AMT3    30000 non-null int64
BILL_AMT4    30000 non-null int64
BILL_AMT5    30000 non-null int64
BILL_AMT6    30000 non-null int64
PAY_AMT1     30000 non-null int64
PAY_AMT2     30000 non-null int64
PAY_AMT3     30000 non-null int64
PAY_AMT4     30000 non-null int64
PAY_AMT5     30000 non-null int64
PAY_AMT6     30000 non-null int64
DEFAULT      30000 non-null category
dtypes: category(10), int64(14)
memory usage: 3.5 MB

In [78]:
#Discretize LIMIT_BAL

In [80]:
#age_bins = pd.cut(df.AGE, 7)
#df['age_bins'] = age_bins
limit_bins = pd.cut(rawData2.LIMIT_BAL, 10)
rawData2['limit_bins'] = limit_bins
limit_bins.head()
#bill6_bins = pd.cut(df.BILL_AMT6, 14)
#df['bill6_bins'] = bill6_bins

rawDataLB = rawData2[['LIMIT_BAL', 'limit_bins', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE','PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6','DEFAULT']]
rawDataLB.head()

,LIMIT_BAL,limit_bins,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULT
0,20000,"(9010.0, 109000.0]",2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,120000,"(109000.0, 208000.0]",2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,"(9010.0, 109000.0]",2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,"(9010.0, 109000.0]",2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,"(9010.0, 109000.0]",1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [91]:
#from sklearn.preprocessing import LabelEncoder
#le_LIMIT_BAL = LabelEncoder()
#rawDataLB['LIMIT_BAL_encoded'] = le_LIMIT_BAL.fit_transform(rawDataLB.limit_bins)
#pd.get_dummies(rawDataLB.limit_bins,prefix=['limit_bins'])
#rawDataLB.head()

# use pd.concat to join the new columns with your original dataframe
rawDataLB = pd.concat([rawDataLB,pd.get_dummies(rawDataLB['limit_bins'], prefix='limit_bins')],axis=1)

# now drop the original 'country' column (you don't need it anymore)
rawDataLB.drop(['limit_bins'],axis=1, inplace=True)

In [93]:
rawDataLB.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,"limit_bins_(9010.0, 109000.0]","limit_bins_(109000.0, 208000.0]","limit_bins_(208000.0, 307000.0]","limit_bins_(307000.0, 406000.0]","limit_bins_(406000.0, 505000.0]","limit_bins_(505000.0, 604000.0]","limit_bins_(604000.0, 703000.0]","limit_bins_(703000.0, 802000.0]","limit_bins_(802000.0, 901000.0]","limit_bins_(901000.0, 1000000.0]"
0,20000,2,2,1,24,2,2,-1,-1,-2,...,1,0,0,0,0,0,0,0,0,0
1,120000,2,2,2,26,-1,2,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,90000,2,2,2,34,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,50000,2,2,1,37,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,1,0,0,0,0,0,0,0,0,0

In [94]:
rawDataLB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 35 columns):
LIMIT_BAL                           30000 non-null int64
SEX                                 30000 non-null category
EDUCATION                           30000 non-null category
MARRIAGE                            30000 non-null category
AGE                                 30000 non-null int64
PAY_0                               30000 non-null category
PAY_2                               30000 non-null category
PAY_3                               30000 non-null category
PAY_4                               30000 non-null category
PAY_5                               30000 non-null category
PAY_6                               30000 non-null category
BILL_AMT1                           30000 non-null int64
BILL_AMT2                           30000 non-null int64
BILL_AMT3                           30000 non-null int64
BILL_AMT4                           30000 non-null int64
BILL_AMT5                           30000 non-null int64
BILL_AMT6                           30000 non-null int64
PAY_AMT1                            30000 non-null int64
PAY_AMT2                            30000 non-null int64
PAY_AMT3                            30000 non-null int64
PAY_AMT4                            30000 non-null int64
PAY_AMT5                            30000 non-null int64
PAY_AMT6                            30000 non-null int64
DEFAULT                             30000 non-null category
LIMIT_BAL_encoded                   30000 non-null int32
limit_bins_(9010.0, 109000.0]       30000 non-null uint8
limit_bins_(109000.0, 208000.0]     30000 non-null uint8
limit_bins_(208000.0, 307000.0]     30000 non-null uint8
limit_bins_(307000.0, 406000.0]     30000 non-null uint8
limit_bins_(406000.0, 505000.0]     30000 non-null uint8
limit_bins_(505000.0, 604000.0]     30000 non-null uint8
limit_bins_(604000.0, 703000.0]     30000 non-null uint8
limit_bins_(703000.0, 802000.0]     30000 non-null uint8
limit_bins_(802000.0, 901000.0]     30000 non-null uint8
limit_bins_(901000.0, 1000000.0]    30000 non-null uint8
dtypes: category(10), int32(1), int64(14), uint8(10)
memory usage: 3.9 MB

In [96]:
rawDataLB2 = rawDataLB[['LIMIT_BAL', 'limit_bins_(9010.0, 109000.0]', 'limit_bins_(109000.0, 208000.0]','limit_bins_(208000.0, 307000.0]', 'limit_bins_(307000.0, 406000.0]', 'limit_bins_(406000.0, 505000.0]', 'limit_bins_(505000.0, 604000.0]', 'limit_bins_(604000.0, 703000.0]', 'limit_bins_(703000.0, 802000.0]', 'limit_bins_(802000.0, 901000.0]', 'limit_bins_(901000.0, 1000000.0]', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE','PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6','DEFAULT']]
rawDataLB2.head()

,LIMIT_BAL,"limit_bins_(9010.0, 109000.0]","limit_bins_(109000.0, 208000.0]","limit_bins_(208000.0, 307000.0]","limit_bins_(307000.0, 406000.0]","limit_bins_(406000.0, 505000.0]","limit_bins_(505000.0, 604000.0]","limit_bins_(604000.0, 703000.0]","limit_bins_(703000.0, 802000.0]","limit_bins_(802000.0, 901000.0]",...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULT
0,20000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,689,0,0,0,0,1
1,120000,0,1,0,0,0,0,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,1,0,0,0,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,1,0,0,0,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,0,0,0,0,0,0,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [97]:
rawDataLB2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 34 columns):
LIMIT_BAL                           30000 non-null int64
limit_bins_(9010.0, 109000.0]       30000 non-null uint8
limit_bins_(109000.0, 208000.0]     30000 non-null uint8
limit_bins_(208000.0, 307000.0]     30000 non-null uint8
limit_bins_(307000.0, 406000.0]     30000 non-null uint8
limit_bins_(406000.0, 505000.0]     30000 non-null uint8
limit_bins_(505000.0, 604000.0]     30000 non-null uint8
limit_bins_(604000.0, 703000.0]     30000 non-null uint8
limit_bins_(703000.0, 802000.0]     30000 non-null uint8
limit_bins_(802000.0, 901000.0]     30000 non-null uint8
limit_bins_(901000.0, 1000000.0]    30000 non-null uint8
SEX                                 30000 non-null category
EDUCATION                           30000 non-null category
MARRIAGE                            30000 non-null category
AGE                                 30000 non-null int64
PAY_0                               30000 non-null category
PAY_2                               30000 non-null category
PAY_3                               30000 non-null category
PAY_4                               30000 non-null category
PAY_5                               30000 non-null category
PAY_6                               30000 non-null category
BILL_AMT1                           30000 non-null int64
BILL_AMT2                           30000 non-null int64
BILL_AMT3                           30000 non-null int64
BILL_AMT4                           30000 non-null int64
BILL_AMT5                           30000 non-null int64
BILL_AMT6                           30000 non-null int64
PAY_AMT1                            30000 non-null int64
PAY_AMT2                            30000 non-null int64
PAY_AMT3                            30000 non-null int64
PAY_AMT4                            30000 non-null int64
PAY_AMT5                            30000 non-null int64
PAY_AMT6                            30000 non-null int64
DEFAULT                             30000 non-null category
dtypes: category(10), int64(14), uint8(10)
memory usage: 3.8 MB

In [101]:
#Split out dependent variable: full dataset
featuresLB2 = rawDataLB2.iloc[:,0:33]
targetLB2 = rawDataLB2['DEFAULT']
featuresLB2.head()
#targetLB2.head()

,LIMIT_BAL,"limit_bins_(9010.0, 109000.0]","limit_bins_(109000.0, 208000.0]","limit_bins_(208000.0, 307000.0]","limit_bins_(307000.0, 406000.0]","limit_bins_(406000.0, 505000.0]","limit_bins_(505000.0, 604000.0]","limit_bins_(604000.0, 703000.0]","limit_bins_(703000.0, 802000.0]","limit_bins_(802000.0, 901000.0]",...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,20000,1,0,0,0,0,0,0,0,0,...,689,0,0,0,0,689,0,0,0,0
1,120000,0,1,0,0,0,0,0,0,0,...,2682,3272,3455,3261,0,1000,1000,1000,0,2000
2,90000,1,0,0,0,0,0,0,0,0,...,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000
3,50000,1,0,0,0,0,0,0,0,0,...,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000
4,50000,1,0,0,0,0,0,0,0,0,...,35835,20940,19146,19131,2000,36681,10000,9000,689,679

In [102]:
%%time 
from sklearn.svm import LinearSVC
from sklearn.feature_selection import RFE

svm = LinearSVC()
# create the RFE model for the svm classifier 
# and select attributes
rfe = RFE(svm, 12)
rfe = rfe.fit(featuresLB2, targetLB2)
# print summaries for the selection of attributes
print(rfe.support_)
print(rfe.ranking_)

c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

[False  True  True  True  True False False False False False False  True
  True  True False  True  True  True False  True  True False False False
 False False False False False False False False False]
[16  1  1  1  1 17 18 20 19 21 22  1  1  1  2  1  1  1  3  1  1 13 15 12
  6 11  5  7  8  9 10  4 14]
Wall time: 2min 6s

c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [103]:
rawDataLB2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 34 columns):
LIMIT_BAL                           30000 non-null int64
limit_bins_(9010.0, 109000.0]       30000 non-null uint8
limit_bins_(109000.0, 208000.0]     30000 non-null uint8
limit_bins_(208000.0, 307000.0]     30000 non-null uint8
limit_bins_(307000.0, 406000.0]     30000 non-null uint8
limit_bins_(406000.0, 505000.0]     30000 non-null uint8
limit_bins_(505000.0, 604000.0]     30000 non-null uint8
limit_bins_(604000.0, 703000.0]     30000 non-null uint8
limit_bins_(703000.0, 802000.0]     30000 non-null uint8
limit_bins_(802000.0, 901000.0]     30000 non-null uint8
limit_bins_(901000.0, 1000000.0]    30000 non-null uint8
SEX                                 30000 non-null category
EDUCATION                           30000 non-null category
MARRIAGE                            30000 non-null category
AGE                                 30000 non-null int64
PAY_0                               30000 non-null category
PAY_2                               30000 non-null category
PAY_3                               30000 non-null category
PAY_4                               30000 non-null category
PAY_5                               30000 non-null category
PAY_6                               30000 non-null category
BILL_AMT1                           30000 non-null int64
BILL_AMT2                           30000 non-null int64
BILL_AMT3                           30000 non-null int64
BILL_AMT4                           30000 non-null int64
BILL_AMT5                           30000 non-null int64
BILL_AMT6                           30000 non-null int64
PAY_AMT1                            30000 non-null int64
PAY_AMT2                            30000 non-null int64
PAY_AMT3                            30000 non-null int64
PAY_AMT4                            30000 non-null int64
PAY_AMT5                            30000 non-null int64
PAY_AMT6                            30000 non-null int64
DEFAULT                             30000 non-null category
dtypes: category(10), int64(14), uint8(10)
memory usage: 3.8 MB

In [105]:
#rawDataLB2["limit_bins_(9010.0, 109000.0]"]= rawDataLB2["limit_bins_(9010.0, 109000.0]"].astype('category')
#rawDataLB2["limit_bins_(109000.0, 208000.0]"]= rawDataLB2["limit_bins_(109000.0, 208000.0]"].astype('category')
#rawDataLB2["limit_bins_(208000.0, 307000.0]"]= rawDataLB2["limit_bins_(208000.0, 307000.0]"].astype('category')
#rawDataLB2["limit_bins_(307000.0, 406000.0]"]= rawDataLB2["limit_bins_(307000.0, 406000.0]"].astype('category')
#rawDataLB2["limit_bins_(406000.0, 505000.0]"]= rawDataLB2["limit_bins_(406000.0, 505000.0]"].astype('category')
#rawDataLB2["limit_bins_(505000.0, 604000.0]"]= rawDataLB2["limit_bins_(505000.0, 604000.0]"].astype('category')
#rawDataLB2["limit_bins_(604000.0, 703000.0]"]= rawDataLB2["limit_bins_(604000.0, 703000.0]"].astype('category')
#rawDataLB2["limit_bins_(703000.0, 802000.0]"]= rawDataLB2["limit_bins_(703000.0, 802000.0]"].astype('category')
#rawDataLB2["limit_bins_(802000.0, 901000.0]"]= rawDataLB2["limit_bins_(802000.0, 901000.0]"].astype('category')
#rawDataLB2["limit_bins_(901000.0, 1000000.0]"]= rawDataLB2["limit_bins_(901000.0, 1000000.0]"].astype('category')
rawDataLB2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 34 columns):
LIMIT_BAL                           30000 non-null int64
limit_bins_(9010.0, 109000.0]       30000 non-null category
limit_bins_(109000.0, 208000.0]     30000 non-null category
limit_bins_(208000.0, 307000.0]     30000 non-null category
limit_bins_(307000.0, 406000.0]     30000 non-null category
limit_bins_(406000.0, 505000.0]     30000 non-null category
limit_bins_(505000.0, 604000.0]     30000 non-null category
limit_bins_(604000.0, 703000.0]     30000 non-null category
limit_bins_(703000.0, 802000.0]     30000 non-null category
limit_bins_(802000.0, 901000.0]     30000 non-null category
limit_bins_(901000.0, 1000000.0]    30000 non-null category
SEX                                 30000 non-null category
EDUCATION                           30000 non-null category
MARRIAGE                            30000 non-null category
AGE                                 30000 non-null int64
PAY_0                               30000 non-null category
PAY_2                               30000 non-null category
PAY_3                               30000 non-null category
PAY_4                               30000 non-null category
PAY_5                               30000 non-null category
PAY_6                               30000 non-null category
BILL_AMT1                           30000 non-null int64
BILL_AMT2                           30000 non-null int64
BILL_AMT3                           30000 non-null int64
BILL_AMT4                           30000 non-null int64
BILL_AMT5                           30000 non-null int64
BILL_AMT6                           30000 non-null int64
PAY_AMT1                            30000 non-null int64
PAY_AMT2                            30000 non-null int64
PAY_AMT3                            30000 non-null int64
PAY_AMT4                            30000 non-null int64
PAY_AMT5                            30000 non-null int64
PAY_AMT6                            30000 non-null int64
DEFAULT                             30000 non-null category
dtypes: category(20), int64(14)
memory usage: 3.8 MB

In [106]:
%%time 
from sklearn.svm import LinearSVC
from sklearn.feature_selection import RFE

svm = LinearSVC()
# create the RFE model for the svm classifier 
# and select attributes
rfe = RFE(svm, 12)
rfe = rfe.fit(featuresLB2, targetLB2)
# print summaries for the selection of attributes
print(rfe.support_)
print(rfe.ranking_)

c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

[False  True  True  True  True False False False False False False  True
  True  True False  True  True  True  True  True False False False False
 False False False False False False False False False]
[16  1  1  1  1 17 18 20 19 22 21  1  1  1  6  1  1  1  1  1  2  8  7  4
 13 11 12  5 14  3  9 10 15]
Wall time: 2min 18s

c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [125]:
#Training Set (Feature Space: X Training)
X_train = (featuresLB2[: 22500])
X_train.head()

,LIMIT_BAL,"limit_bins_(9010.0, 109000.0]","limit_bins_(109000.0, 208000.0]","limit_bins_(208000.0, 307000.0]","limit_bins_(307000.0, 406000.0]","limit_bins_(406000.0, 505000.0]","limit_bins_(505000.0, 604000.0]","limit_bins_(604000.0, 703000.0]","limit_bins_(703000.0, 802000.0]","limit_bins_(802000.0, 901000.0]",...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,20000,1,0,0,0,0,0,0,0,0,...,689,0,0,0,0,689,0,0,0,0
1,120000,0,1,0,0,0,0,0,0,0,...,2682,3272,3455,3261,0,1000,1000,1000,0,2000
2,90000,1,0,0,0,0,0,0,0,0,...,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000
3,50000,1,0,0,0,0,0,0,0,0,...,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000
4,50000,1,0,0,0,0,0,0,0,0,...,35835,20940,19146,19131,2000,36681,10000,9000,689,679

In [126]:
#Dependent Variable Training Set (y Training)
y_train = targetLB2[: 22500]
y_train_count = len(y_train.index)
print('The number of observations in the Y training set are:',str(y_train_count))
y_train.head()

The number of observations in the Y training set are: 22500

0    1
1    1
2    0
3    0
4    0
Name: DEFAULT, dtype: category
Categories (2, int64): [0, 1]

In [127]:
#Testing Set (X Testing)
X_test = featuresLB2[-7500:]
X_test_count = len(X_test.index)
print('The number of observations in the feature testing set is:',str(X_test_count))
print(X_test.head())

The number of observations in the feature testing set is: 7500
       LIMIT_BAL  limit_bins_(9010.0, 109000.0]  \
22500     180000                              0
22501     230000                              0
22502      50000                              1
22503     260000                              0
22504     260000                              0

       limit_bins_(109000.0, 208000.0]  limit_bins_(208000.0, 307000.0]  \
22500                                1                                0
22501                                0                                1
22502                                0                                0
22503                                0                                1
22504                                0                                1

       limit_bins_(307000.0, 406000.0]  limit_bins_(406000.0, 505000.0]  \
22500                                0                                0
22501                                0                                0
22502                                0                                0
22503                                0                                0
22504                                0                                0

       limit_bins_(505000.0, 604000.0]  limit_bins_(604000.0, 703000.0]  \
22500                                0                                0
22501                                0                                0
22502                                0                                0
22503                                0                                0
22504                                0                                0

       limit_bins_(703000.0, 802000.0]  limit_bins_(802000.0, 901000.0]  ...  \
22500                                0                                0  ...
22501                                0                                0  ...
22502                                0                                0  ...
22503                                0                                0  ...
22504                                0                                0  ...

       BILL_AMT3 BILL_AMT4 BILL_AMT5 BILL_AMT6  PAY_AMT1 PAY_AMT2 PAY_AMT3  \
22500       1112     10383      1980      2672         0     1112    10383
22501      41354     42368     43161     45056      2000     2000     2000
22502      20857     20229     19623     19878      3155     2500        0
22503     234260    227884    202178    198467     10000     9014    11002
22504      28656      7497      7685     15434     13000    29022     7500

      PAY_AMT4 PAY_AMT5 PAY_AMT6
22500     1980     2672     2197
22501     1800     2600     2000
22502        0      707      713
22503     7503     7502     7500
22504    27769    12000     6200

[5 rows x 33 columns]

In [128]:
#Ground Truth (y_test) 
y_test = targetLB2[-7500:]
y_test_count = len(y_test.index)
print('The number of observations in the Y training set are:',str(y_test_count))
y_test.head()

The number of observations in the Y training set are: 7500

22500    0
22501    0
22502    1
22503    1
22504    1
Name: DEFAULT, dtype: category
Categories (2, int64): [0, 1]

In [129]:
from sklearn.model_selection import train_test_split

In [130]:
modelSVR = SVR()

In [120]:
modelSVR.fit(X_train,y_train)

c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)

In [131]:
%%time
modelSVR.fit(X_train,y_train)
print(cross_val_score(modelSVR, X_train, y_train)) 
modelSVR.score(X_train,y_train)

c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
c:\users\ryan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

[-0.02230439 -0.02197596 -0.0201426 ]
Wall time: 11min 15s

In [15]:
print('TRAIN MODEL')

TRAIN MODEL

In [88]:
#Training Set (Feature Space: X Training)
X_train = (features[: 1000])
X_train.head()

,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5
0,3913,3102,689,0,0,0,0,689,0,0,0
1,2682,1725,2682,3272,3455,3261,0,1000,1000,1000,0
2,29239,14027,13559,14331,14948,15549,1518,1500,1000,1000,1000
3,46990,48233,49291,28314,28959,29547,2000,2019,1200,1100,1069
4,8617,5670,35835,20940,19146,19131,2000,36681,10000,9000,689

In [90]:
#Dependent Variable Training Set (y Training)
y_train = depVar[: 1000]
y_train_count = len(y_train.index)
print('The number of observations in the Y training set are:',str(y_train_count))
y_train.head()

The number of observations in the Y training set are: 1000

0       0
1    2000
2    5000
3    1000
4     679
Name: PAY_AMT6, dtype: int64

In [91]:
#Testing Set (X Testing)
X_test = features[-100:]
X_test_count = len(X_test.index)
print('The number of observations in the feature testing set is:',str(X_test_count))
print(X_test.head())

The number of observations in the feature testing set is: 100
       BILL_AMT1  BILL_AMT2  BILL_AMT3  BILL_AMT4  BILL_AMT5  BILL_AMT6  \
29900      16809          0          0          0          0          0
29901      50845      48750     103486      50590      50248      49387
29902      10392     168088     168955     161351     126198     124746
29903      27378      17082      13333         99         99     172104
29904      54952      56021      54126      58732      59306      59728

       PAY_AMT1  PAY_AMT2  PAY_AMT3  PAY_AMT4  PAY_AMT5
29900         0         0         0         0         0
29901         0      6556      3250      1563      1208
29902    168096      6409      7335      4448      4519
29903     10018     13333        99        99    172104
29904      2600      4553      5800      2000      1000

In [93]:
#Ground Truth (y_test) 
y_test = depVar[-100:]
y_test_count = len(y_test.index)
print('The number of observations in the Y training set are:',str(y_test_count))
y_test.head()

The number of observations in the Y training set are: 100

29900        0
29901      781
29902     5003
29903    30013
29904     1462
Name: PAY_AMT6, dtype: int64

In [ ]:
print('CROSS VALIDATION')

In [94]:
from sklearn.model_selection import train_test_split

In [95]:
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train)

In [96]:
X_train.shape, X_test.shape

((750, 11), (250, 11))

In [97]:
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train)
X_train.shape, X_test.shape

((562, 11), (188, 11))

In [98]:
print('scikit-learn format')

scikit-learn format

In [99]:
from sklearn.linear_model import LinearRegression

In [102]:
model = LinearRegression(n_jobs=10)

In [101]:
print('BUILDING THE MODELS AND CHOOSING THE RIGHT MODEL')

BUILDING THE MODELS AND CHOOSING THE RIGHT MODEL

In [60]:
#imports
#numpy,pandas,scipy, math, matplotlib
import numpy as np
import pandas as pd
import scipy
from math import sqrt
import matplotlib.pyplot as plt

In [61]:
#estimators
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn import linear_model

In [62]:
#model metrics
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score

In [64]:
#cross validation
from sklearn.model_selection import train_test_split

In [72]:
#Models
modelSVR = SVR()
modelRF = RandomForestRegressor()
modelLR = LinearRegression()

In [73]:
#features
features = rawData.iloc[:,12:23]
print('Summary of feature sample')
features.head()

Summary of feature sample

,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5
0,3913,3102,689,0,0,0,0,689,0,0,0
1,2682,1725,2682,3272,3455,3261,0,1000,1000,1000,0
2,29239,14027,13559,14331,14948,15549,1518,1500,1000,1000,1000
3,46990,48233,49291,28314,28959,29547,2000,2019,1200,1100,1069
4,8617,5670,35835,20940,19146,19131,2000,36681,10000,9000,689

In [75]:
#dependent variable
print(depVar)

0            0
1         2000
2         5000
3         1000
4          679
5          800
6        13770
7         1542
8         1000
9            0
10          66
11        3640
12           0
13           0
14        3000
15        1100
16           0
17       50000
18           0
19           0
20       33764
21           0
22        1820
23        1128
24        2000
25         997
26        1000
27        1012
28           0
29           0
         ...
29970    16080
29971     3000
29972     4800
29973        0
29974     1000
29975     7022
29976        0
29977     5000
29978    10059
29979        0
29980     2000
29981      585
29982        0
29983     1701
29984     1000
29985        0
29986        0
29987     4005
29988     6009
29989        0
29990     2000
29991        0
29992        0
29993     2000
29994     4000
29995     1000
29996        0
29997     3100
29998     1804
29999     1000
Name: PAY_AMT6, Length: 30000, dtype: int64

In [71]:
model.fit(X_train,y_train)

TypeError: float() argument must be a string or a number, not 'pandas._libs.interval.Interval'